/* GENERAL SETUP -----------------------------------------------*/
*{margin:0; padding:0;}

html, body{
    margin:0;
    padding:0;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
html{
    font-size:10px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    width:100vw;
    height:200vh;
    margin: 0 auto;
}
/* TYPOGRAPHY */
h2{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin: 0px 0px 16px 0px; 
    color: #1E1E1E;
}
h3{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin: 0px 0px 12px 0px; 
    color: #292c33;
    
}
h2{
    font-size: 3rem;
}
p, li{
    font-family: 'Roboto', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
    line-height: 1.5;


}
/* HEADER-------------------------------------------------------------------- */
header{
    width:100%;
    height:70vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Assets/Tv-Shows--900x675.jpg);
    margin: 0 0;

}
nav{
    width: 100%;
    height: 6.1vh;
    padding:0px 40px;
    /* background-color: red; */
}
.nav_container{
    width:85%;
    height:5vh;
    padding:0px 40px;
    float: right;
    margin-top:5px;
    
}
.log_in{
    margin:4px 0px;
    color:#FFFFFF;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    padding:23px 0px 17px;
    font-size:14px;
    float: right;
    margin-right: 60px;
}
.header_info{
    height:63.9vh;
    width:100%;
    /* margin: auto ; */
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: solid red 1px; */
    align-items: center;
    
}
.header_container{
    height:50vh;
    width: 50vw;
    margin-left: 25%;

}
.header_info_1{
    width:20vw;
    margin:20px auto;
    color:#2DBD9D;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    
}
.header_info_2{
    width:30vw;
    margin:0 auto;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    /* margin-left:45%; */
    
    
}
.header_info img{
    /* margin-left:40%; */
    margin:0 auto;

    
}
.header_info_3{
    width:30vw;
    margin:0 auto;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    
}
.header_info_4{
    width:20vw;
    margin:0 auto;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    /* margin-left:20%; */
    
    /* align-items: center; */
    
}
.header_info_5{
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    /* margin-left:45%; */
    width:40vw;
    
}
.sub_header{
    background: linear-gradient(318.68deg,#0F495C 0%,#0D3640 49.72%,#08141F 100%);
    height:108px;
    width:100vw;
    margin-top: -82px;
    padding: 25px 40px;

}
/* MAIN---------------------------------------------------------------------------------------- */
main{
    width:100%;
    margin:0 0;
    box-sizing: inherit;
}
.collage{
    margin:auto auto;
    /* height: 100%; */
}
.collage img{
    margin-top:10.2%;
    width:100vw;
    height:44%;
}
