/* GENERAL SETUP ----------------------------------------------- */
*{
    box-sizing: border-box;
}

html, body{
    margin:0 0;
    padding:0 0;
}
html{
    /* font-size:12px; */
    box-sizing: border-box;
    display:block;
    height: 100%;
    /* text-rendering: optimizeLegibility; */
    overflow-x: hidden;
}
body{
    font-family: Helvetica ,Arial,sans-serif;
    width:100vw;
    margin:0;
    font: weight 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #292b2c;
    height: 100%;
    background-color: #f5f6f7;
    display: block;
}
.content-wrapper{
    flex: 1 0 auto;
    overflow-x: hidden;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
/* TYPOGRAPHY */
h1{
    margin-top: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
h2{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin: 0px 0px 16px 0px; 
    color: #1E1E1E;
}
h3{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin: 0px 0px 12px 0px; 
    color: #292c33;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    
}
h2{
    font-size: 3rem;
}
p, li{
    font-family: 'Roboto', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
    line-height: 1.5;
}
a{
    cursor: pointer;
}
img{
    vertical-align: middle;
    border-style: none;
}
img.resp-img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
div {
    display: block;
}
button{
    appearance: button;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}



/* HEADER-------------------------------------------------------------------- */
.header{
    width:100%; 
    height:585px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Assets/Tv-Shows--900x675.jpg);
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center top;
    background-size: cover;
    text-align: center;
    /* overflow: hidden; */
    position: relative;

}
nav{
    width: 100%;
    height: 6.5vh;
    padding:0;
    display:flex;
    box-sizing:inherit;
    align-items: center;
    /* background-color: red; */
}
.nav_container{
    width:10%;
    height:46px;
    /* padding:0px 40px; */
    float: right;
    margin-top:5px;
    margin-left:86%;
    
}

.log_in{
    color:#FFFFFF;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    float: right;
    height:40px;
    border: none; 
    background:none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 23px 0 17px;
    margin: 4px 0px;
    border: none;
    display: block;
    text-transform: uppercase;
    
}  
.header_info{
    width:94%;
    padding:60px 40px;
    align-items: center; 
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction:column;
    justify-content:center;
    line-height:1.3;
    z-index: 0;
    color: #fff;
    margin-left:auto;
    margin-right:auto;

    
    
}
.header_info1_container{
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 0px 17px;
    margin-left:auto;
    margin-right:auto;
    width:670px;
    height:20px;
}
.header_info_1{
    /* width:40vw; */
    /* margin-top:20px; */
    /* margin-bottom:15px; */
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;

    
    
}
.big_logo{
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    margin-top: 0;
    font-size: 56px;
    line-height: 64px;
}
.header_info img{
    opacity: 1;
    min-height: auto;
    flex-shrink: 0;
    width: 40%;
    vertical-align: middle;
    border-style: none;
    
}
.header_info_2{
    width:50vw;
    margin:0;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
    margin-top:20px;
    /* margin-left:45%; */
    font-weight: 600;
}

.header_info_3{
    width:40vw;
    margin-top:20px;
    margin-bottom:20px;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;   
    font-weight: normal; 
    font-size: 16px;
    
}
.header_info_4{
    width:40vw;
    margin-top:20px;
    margin-bottom:20px;
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
}
.header_info_4 button{
    color: #040505;
    background: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    height:55px;
    width: 280px;
    font: 400 13.3333px Arial;
    min-width: 136px;
    padding: 0 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.header_info_4 button:hover{
    background-color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}
.header_info_5{
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    /* margin-left:45%; */
    width:40vw;
    margin:0px auto;
    margin-top: 16px;
    opacity: 0.6;
    align-self:center;
    
}
.sub_header_container{
    background: linear-gradient(318.68deg,#0F495C 0%,#0D3640 49.72%,#08141F 100%);
    /* width:100%; */
    /* z-index: 1;     */
    /* height:140px; */    
    /* padding: 25px 40px; */
    /* border:solid red .1px; */
    /* padding: 25px 40px; */
    box-sizing:inherit;
    padding: 25px 40px;
    z-index: 1;
    width: 100%;
    
    

}
.sub_header{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1520px;
    display: flex;
    flex-wrap: wrap;
    /* height: 175px; */


}
.sub_header_container a{
    color: #fff;
    opacity: 0.7;
    text-decoration: underline;
} 
.sub_header_img_container{
    padding:0px;
    display: flex;
    align-items: center;
    /* margin-left:3%;
    margin-right:3% */
    flex-grow: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
}
.sub_header_img_container img{
    width:100%;
    height:80px;
    max-width: 355px;
    padding-left: 0;
    
    
   
}
.pricing_info_container{
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    text-align: left;
    padding-left: 30px;


} 
.pricing_text_percent{
    color: #2DBD9D;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
    text-align: left;
}
.pricing_text_dollar_container{
    margin-top: 5px;
    text-align: left;
}
.text_pricing{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    display: inline;
}
.details_btn_container a{
    
    font-size: 14px;
    line-height: 15px;
    text-align: left;
}

.button_bundle_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* float:right; */
    /* margin-left:45%; */
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding-top: 20px;
    align-items: flex-end;

}
.bundle_button_container{
    text-align: center;
    
}
.bundle_button_container button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    display: block;
    align-items: flex-start;
    padding: 0px 20px;
    min-width: 114px;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer; 
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    display: block;
    align-items: flex-start;
    padding: 0px 20px;
    min-width: 114px;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    height: 56px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
    
}
.button_item{
    /* height: 60px; */
}
.button_terms_container{
    text-align: center;


}
.button_terms{
    font-size: 10px;
    justify-content: center;
    text-align: left;
    padding-top: 15px;
}

/* MAIN---------------------------------------------------------------------------------------- */
.media-container{
    width: 100%;
    text-align: center;
    margin: 0;
}
.media-container-wrapper{
    max-width: 1600px;
    /* width: 100%; */
    margin: 0 auto;
}
.media-container-wrapper img{
    /* transition: opacity 0.3s; */
    /* margin-top:10.2%; */
    margin-top:6.9%;
    width:100vw;
    height:44%;
    max-width: 1600px;
}





/* #plans{
    background-color: #fff;
    position: relative;
    padding-bottom: 40px;

}
.plans-container{
    max-width: 900px;
    margin: 0 auto;
    max-width: 900px;
    display:flex;
    color: #292C33;
    background-color: #fff;
    flex-direction: row;
    padding-top: 0;
    
}

.plans-head-container{
    flex-direction: row;
    padding-top: 0;
    display:flex;
    background-color: #fff;
}
.plans-container .plan-head-column{
    display: block;
    height: 215px;
    padding: 72px 0 10px;
    border-bottom: 1px solid #EDEFF2;
    top: 0;
}

.plans-container .plan-text h3{
    text-align: left;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-top: 0;
    color: #292C33;
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 12px;

}
.plans-container .plans-head-description {
    text-align: left;
    max-width: 30vw;
    margin: 0;
    width: 708px;
}
.plans-container .plan-head{
    text-align:center;
    display:flex;
    padding:0;
    top:0;
} */

